/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~bootstrap/scss/bootstrap';
@import 'react-bootstrap-sidebar-menu/dist/sidebar-menu.scss';

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  color: white;
  height: 100vh;
  background: linear-gradient(
      200.96deg,
      #fedc2a -29.09%,
      #dd5789 51.77%,
      #7a2c9e 129.35%
    )
    fixed;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  grid-area: main;
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'sidebar header' 'sidebar main';
  overflow-y: hidden;
}

/*** NAVBAR ***/
.sidebar-menu {
  flex-direction: column;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  grid-area: sidebar;
}

.sidebar-menu-collapse.show {
  width: 200px;
  transition: width 2s;
}

.sidebar-menu-collapse:not(.show) {
  transition: width 0.5s;
  transition-timing-function: linear;
}

.sidebar-menu-collapse.show .sidebar-menu-nav-title {
  display: inline-flex !important;
  opacity: 1;
  transition: opacity 0.5s;
}

.sidebar-menu-collapse:not(.show) .sidebar-menu-nav-title {
  display: inline-flex !important;
  opacity: 0;
  transition: opacity 0.5s;
}

.sidebar-menu-header {
  justify-content: flex-start !important;
}

.sidebar-menu-body {
  padding: 0;
  overflow-x: hidden;
  position: relative;
  top: 50px;
}

.sidebar-menu-nav {
  gap: 30px;
}

.sidebar-menu-nav-link {
  display: inline-flex !important; /* fixes jump when showing navbar */
  transition: 0.3s !important;
}

.sidebar-menu-nav-link:hover {
  color: rgb(60, 60, 60) !important;
}

.unselected {
  color: rgb(120, 120, 120) !important;
}

.selected {
  color: rgb(55, 55, 55) !important;
}

/*** SECTIONS ***/
.block {
  display: block;
  border: 1px solid lightgray;
  height: auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}

#search-bar {
  display: flex;
}

form {
  display: flex;
}

.main-container {
  display: grid;
  padding: 30px;
}
