/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~bootstrap/scss/bootstrap';
@import 'react-bootstrap-sidebar-menu/dist/sidebar-menu.scss';

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  grid-area: main;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'sidebar header' 'sidebar main';
}

/*** NAVBAR ***/
.sidebar-menu {
  align-items: flex-start;
  flex-direction: column;
  padding-top: 0;
  overflow-y: auto;
  grid-area: sidebar;
}

.sidebar-menu-header {
  justify-content: flex-start !important;
}

.sidebar-menu-body {
  padding: 0;
}

.unselected {
  color: black;
}

.selected {
  color: rgb(203, 203, 203);
}
